{% extends "authenticated.html" %}
{%- import "components/get_form_values.html" as form_values -%}


{% block title %}{{ meta.title }}{% endblock %}

{% block head %}
	<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
	{% call form_values::get_form_values("chapteradmininput") %}
{% endblock %}

{% block content%}
	{% call super() %}
	<form class="chapteradmininput">
		<input type="radio" id="html" name="fav_language" value="HTML">
		<label for="html">HTML</label><br>
		<input type="radio" id="css" name="fav_language" value="CSS">
		<label for="css">CSS</label><br>
		<input type="radio" id="javascript" name="fav_language" value="JavaScript">
		<label for="javascript">JavaScript</label>
	</form>

	<button hx-post="update" hx-include=".chapteradmininput" hx-vals="js:{vals: get_forms()}" hx-ext="json-enc">Update</button>

{% endblock %}
