{% extends "authenticated.html" %}

{% block title %}{{ chapter.title }}{% endblock %}

{% block head %}
<script src="/public/js/my-enc.js"></script>
{% endblock %}

{% block content %}
	{% call super() %}
	{% if is_admin %}
		<a href="admin/">Go to Admin Page</a>
	{% endif %}
	<div class="flex flex-col items-center justify-center">
	<form id="submit-picks" hx-post="." hx-ext="my-enc" hx-on::before-request="console.log(myenc.parseForm(this))" class="items-center self-center justify-center">
		{% for (event, pick) in user_picks %}
			<fieldset name="events" me-insert="array" class="bg-white border border-gray-300 rounded-lg shadow-md">
				<input type="hidden" name="type" value="spread-group">
				<input type="hidden" name="event-id" value="{{event.id}}">
				{% match event.contents.0 %}
					{% when EventContent::SpreadGroup with (spreads) %}
						{% let event_index = loop.index %}
						{% match pick %}
						{% when Some with (pick_pick) %}
							{% match pick_pick.choice %}
							{% when serde_json::Value::Array with (pick_pick_pick) %}
								{% call spread_group(spreads, pick_pick_pick, event_index) %}
							{% else %}
							{% endmatch %}
						{% else %}
						{% endmatch %}
					{% when EventContent::UserInput with (input) %}
						{% call user_input(input, pick) %}
				{% endmatch %}
			</fieldset>
			{% if !loop.last %}
				<hr>
			{% endif %}
		{% else %}
			<p>No Events in this Chapter</p>
		{% endfor %}

		<button type="submit">Submit</button>
	</form>
	</div>
{% endblock %}

{% macro spread_group(spreads, picks, event_number) %}
{% let size = spreads.len() %}
<p>Spread Group</p>
{% for (spread, pick) in spreads.iter().zip(picks.iter()) %}
	{% let home_team = relevent_teams.get(spread.home_id).unwrap() %}
	{% let away_team = relevent_teams.get(spread.away_id).unwrap() %}

	<fieldset name="spreads" me-insert="array">
		<div class="grid grid-flow-col grid-cols-2 gap-4 p-5">
		<div class="col-span-1">
		<input type="radio" name="selection[{{event_number}}-{{loop.index}}]" class="opacity-0 peer" value="home" id="{{event_number}}-{{loop.index}}-home" required
		{%+ if matches!(pick, serde_json::Value::String(s) if s == "home") %}
			checked
		{% endif +%}
		>
		<label for="{{event_number}}-{{loop.index}}-home" class="inline-grid w-full p-5 pt-0 pb-0 border border-black rounded-lg cursor-pointer hover:border-green-700 peer-checked:bg-green-500 peer-checked:border-green-600 hover:bg-green-100">
			<div>
				<img src="{{home_team.1.clone().unwrap_or(String::new())}}" alt="">
				<p>{{home_team.0}}</p>
			</div>
		</label>
		</div>

		<div class="col-span-1">
		<input type="radio" name="selection[{{event_number}}-{{loop.index}}]" class="hidden peer" value="away" id="{{event_number}}-{{loop.index}}-away" required
		{%+ if matches!(pick, serde_json::Value::String(s) if s == "away") %}
			checked
		{% endif +%}
		>
		<label for="{{event_number}}-{{loop.index}}-away" class="inline-grid w-full p-5 pt-0 pb-0 border border-black rounded-lg cursor-pointer hover:border-green-700 peer-checked:bg-green-500 peer-checked:border-green-600 hover:bg-green-100">
			<div>
				<img src="{{away_team.1.clone().unwrap_or(String::new())}}" alt="">
				<p>{{away_team.0}}</p>
			</div>
		</label>
		</div>
		</div>
		{% let spread_index = loop.index %}
		<ul>
			{% for i in 1..=size %}
				<li class="inline-flex items-center p-1">
				<input type="radio" name="num-points[{{event_number}}-{{spread_index}}]" value="{{i}}" id="{{event_number}}-{{spread_index}}-{{i}}" class="hidden peer" required>
				<label for="{{event_number}}-{{spread_index}}-{{i}}" class="inline-grid w-5 h-5 p-5 border border-black rounded-lg cursor-pointer hover:border-green-700 peer-checked:bg-green-500 peer-checked:border-green-600 hover:bg-green-100">
					{{i}}
				</label>
				</li>
			{% endfor %}
		</ul>
	</fieldset>
{% endfor %}

{% endmacro %}

{% macro user_input(input, pick) %}

<h3 class="text-lg font-semibold">{{input.title}}</h3>
{% if let Some(description) = input.description %}
	<h4>{{description}}</h4>
{% endif %}

{% if let Some(pick) = pick %}
	{% match pick.choice %}
		{% when serde_json::Value::String with (input) %}
		<label for="first_name" class="block mb-2 text-sm font-medium">
			Your Answer
			<input type="text" name="user-input" placeholder="Make Pick" value="{{input}}" required class="block p-1 ml-1 mr-1 text-sm text-center text-gray-900 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
		</label>
		{% else %}
	{% endmatch %}
{% else %}
	<label for="first_name" class="block mb-2 text-sm font-medium">
		Your Answer
		<input type="text" name="user-input" placeholder="Make Pick" required class="block p-1 ml-1 mr-1 text-sm text-center text-gray-900 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
	</label>
{% endif %}

{%+ if input.points != 1 %}
	<p>({{input.points}} Points)</p>
{% endif +%}

{% endmacro %}
