{% extends "authenticated.html" %}

{% block title %}{{ chapter.title }} - Admin{% endblock %}

{% block head %}
<script defer src="/public/js/alpine.js"></script>
{% endblock %}

{% block content%}
	{% call super() %}
	<p>Chapter Admin Page</p>
	<div class="flex flex-col items-center justify-center">
		<div class="self-center justify-center p-2 m-3 bg-white border border-gray-300 rounded-lg shadow-md w-fit">
			<div hx-target="this">
			{% if chapter.is_open %}
				<p>Chapter Status: Open</p>
				<button hx-post="" class="p-0.5 font-bold text-white bg-orange-600 rounded hover:bg-orange-700">Close</button>
			{% else %}
				<p>Chapter Status: Closed</p>
				<button hx-post="" class="p-0.5 font-bold text-white bg-orange-600 rounded hover:bg-orange-700">Open</button>
			{% endif %}
			</div>
			<div hx-target="this">
			{% if chapter.is_visible %}
				<p>Chapter Visibility: Visible</p>
				<button hx-post="" class="p-0.5 font-bold text-white bg-orange-600 rounded hover:bg-orange-700">Hide</button>
			{% else %}
				<p>Chapter Visibility: Hidden</p>
				<button hx-post="" class="p-0.5 font-bold text-white bg-orange-600 rounded hover:bg-orange-700">Show</button>
			{% endif %}
			</div>
		</div>

		<form class="items-center self-center justify-center">
		{% for event in events %}
			<fieldset name="events" me-insert="array" class="self-center justify-center m-3 bg-white border border-gray-300 rounded-lg shadow-md w-fit">
				<input type="hidden" name="type" value="spread-group">
				<input type="hidden" name="event-id" value="{{event.id}}">
				{% let event_index = loop.index %}
				{% match event.contents.0 %}
				{% when EventContent::SpreadGroup with (spreads) %}
					{% call spread_group(spreads, event_index) %}
				{% when EventContent::UserInput with (question) %}
					{% call user_input(question, event_index) %}
				{% endmatch %}
			</fieldset>
		{% endfor %}
			<button type="submit">Submit</button>
		</form>
	</div>
{% endblock %}

{% macro spread_group(spreads, event_number) %}
{% let size = spreads.len() %}

{% for spread in spreads %}
	{% let home_team = relevent_teams.get(spread.home_id).unwrap() %}
	{% let away_team = relevent_teams.get(spread.away_id).unwrap() %}
	<fieldset name="spreads" me-insert="array">
		<div class="grid grid-flow-col grid-cols-2 gap-4 p-5">
			<div class="col-span-1">
			<input type="radio" name="selection[{{event_number}}-{{loop.index}}]" class="absolute opacity-0 peer" value="home" id="{{event_number}}-{{loop.index}}-home" required

			>
			<label for="{{event_number}}-{{loop.index}}-home" class="inline-grid w-full p-5 pt-0 pb-0 border border-black rounded-lg cursor-pointer hover:border-green-700 peer-checked:bg-green-500 peer-checked:border-green-600 hover:bg-green-100">
				<div>
					<img src="{{home_team.1.clone().unwrap_or(String::new())}}" width="150" height="150" alt="Home Team Logo">
					<p>{{home_team.0}}</p>
				</div>
			</label>
			</div>

			<div class="col-span-1">
			<input type="radio" name="selection[{{event_number}}-{{loop.index}}]" class="absolute opacity-0 peer" value="away" id="{{event_number}}-{{loop.index}}-away" required

			>
			<label for="{{event_number}}-{{loop.index}}-away" class="inline-grid w-full p-5 pt-0 pb-0 border border-black rounded-lg cursor-pointer hover:border-green-700 peer-checked:bg-green-500 peer-checked:border-green-600 hover:bg-green-100">
				<div>
					<img src="{{away_team.1.clone().unwrap_or(String::new())}}" width="150" height="150" alt="Away Team Logo">
					<p>{{away_team.0}}</p>
				</div>
			</label>
			</div>
		</div>
	</fieldset>
{% endfor %}

{% endmacro %}

{% macro user_input(question, event_index) %}
<p>{{"{:?}"|format(question)}}</p>
{% endmacro %}
