{% extends "authenticated.html" %}

{% block title %}{{ chapter.title }}{% endblock %}

{% block head %}
<script src="/public/js/my-enc.js"></script>
{% endblock %}

{% block content %}
	{% call super() %}
	{% if is_admin %}
		<a href="admin/">Go to Admin Page</a>
	{% endif %}
	<form id="submit-picks" hx-post="." hx-ext="my-enc" hx-on::before-request="console.log(myenc.parseForm(this))">
		{% for (event, pick) in user_picks %}
			{% match event.contents.0 %}
				{% when EventContent::SpreadGroup with (spreads) %}
					<fieldset name="events" form="submit-picks" me-insert="array">
						<input type="hidden" name="type" value="spread-group">
						<input type="hidden" name="event-id" value="{{event.id}}">
						{% let event_index = loop.index %}
						{% call spread_group(spreads, pick, event_index) %}
					</fieldset>
				{% when EventContent::UserInput with (input) %}
					<fieldset name="events" form="submit-picks" me-insert="array">
						<input type="hidden" name="type" value="user-input">
						<input type="hidden" name="event-id" value="{{event.id}}">
						{% call user_input(input, pick) %}
					</fieldset>
			{% endmatch %}
			{% if !loop.last %}
				<hr>
			{% endif %}
		{% else %}
			<p>No Events in this Chapter</p>
		{% endfor %}

		<button type="submit">Submit</button>
	</form>
{% endblock %}

{% macro spread_group(spreads, picks, event_number) %}
{% let size = spreads.len() %}

{% for spread in spreads %}
	{% let home_team = relevent_teams.get(spread.home_id).unwrap() %}
	{% let away_team = relevent_teams.get(spread.away_id).unwrap() %}
	<fieldset name="spreads" me-insert="array">
		<input type="radio" name="selection[{{event_number}}-{{loop.index}}]" class="peer" value="home" id="{{event_number}}-{{loop.index}}-home" form="submit-picks" required>
		<label for="{{event_number}}-{{loop.index}}-home" class="border border-black rounded-lg cursor-pointer hover:border-green-700 peer-checked:bg-green-500 peer-checked:border-green-600 hover:bg-green-100">
			<div>
				<img src="{{home_team.1.clone().unwrap_or(String::new())}}" alt="">
				<p>{{away_team.0}}</p>
			</div>
		</label>

		<input type="radio" name="selection[{{event_number}}-{{loop.index}}]" class="peer" value="away" id="{{event_number}}-{{loop.index}}-away" form="submit-picks" required>
		<label for="{{event_number}}-{{loop.index}}-away" class="border border-black rounded-lg cursor-pointer hover:border-green-700 peer-checked:bg-green-500 peer-checked:border-green-600 hover:bg-green-100">
			<div>
				<img src="{{away_team.1.clone().unwrap_or(String::new())}}" alt="">
				<p>{{away_team.0}}</p>
			</div>
		</label>

		{% let spread_index = loop.index %}
		<div>
			{% for i in 1..=size %}
				<input type="radio" name="num-points[{{event_number}}-{{spread_index}}]" value="{{i}}" id="{{event_number}}-{{spread_index}}-{{i}}" class="border border-black" form="submit-picks" required>
				<label for="{{event_number}}-{{spread_index}}-{{i}}">{{i}}</label>
			{% endfor %}
		</div>
	</fieldset>
{% endfor %}

{% endmacro %}

{% macro user_input(input, pick) %}

<h3 class="text-lg font-semibold">{{input.title}}</h3>
{% if let Some(description) = input.description %}
	<h4>{{description}}</h4>
{% endif %}

{% if input.points == 1 %}
	<p>({{input.points}} Point)</p>
{% else %}
	<p>({{input.points}} Points)</p>
{% endif %}

{% if let Some(pick) = pick %}
	<input type="text" name="user-input" placeholder="Your Answer" value={{pick.choice}} form="submit-picks" required>
{% else %}
	<input type="text" name="user-input" placeholder="Your Answer" form="submit-picks" required>
{% endif %}

{% endmacro %}
