{% extends "authenticated.html" %}
{%- import "components/get_form_values.html" as form_values -%}


{% block title %}{{ meta.title }}{% endblock %}

{% block head %}
	<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
	{% call form_values::get_form_values("eventinput") %}
{% endblock %}

{% block content%}
	{% call super() %}
	<div id="event-spaces">
		<div id="spread-group"></div>
		<div id="user-inputs"></div>
	</div>

	<button hx-get="add?type=spread-group" hx-target="#spread-group" hx-swap="beforeend">Add Spread</button>
	<button hx-get="add?type=user-input" hx-target="#user-inputs" hx-swap="beforeend">Add User Input</button>

	<form id="submit-events" hx-post="." hx-ext="json-enc" hx-vals="js:{vals: get_forms()}" onsubmit="return validateForm()">
		<button type="submit">Submit</button>
	</form>
{% endblock %}
