<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
	  <link rel="icon" type_="image/ico" href="/public/favicon.ico"/>
	  <link rel="manifest" href="/public/manifest.json"/>
	  <link rel="stylesheet" id="tailwind" href="/public/output.css"/>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="justify-center text-center bg-green-50">
    <script>0</script>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
