{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
	<form action="/login" method="post">
		<h1>Log In</h1>
		<label>
			User ID:
			<input type="text" placeholder="Username" maxlength="32" name="username" class="auth-input" />
		</label>
		<br/>
		<label>
			Password:
			<input type="password" placeholder="Password" name="password" class="auth-input" />
		</label>
		<br/>
		<label>
			<input type="checkbox" name="remember" class="auth-input" />
			Remember me?
		</label>
		<br/>
		<button type="submit" class="button">Log In</button>
	</form>
	<p>Don't have an account? <a href="signup">Sign Up</a></p>
{% endblock %}
