<div class="flex flex-col items-center justify-center">
	<ul class="items-center self-center justify-center">
		{% for chapter in chapters %}
		<li class="p-3 h-30 w-60">
			<div class="justify-center object-fill max-w-sm overflow-hidden bg-white rounded-lg shadow-lg">
				<a href="/book/{{ book_subscription.book_id }}/chapter/{{ chapter.chapter_id }}" class="object-fill">
					<p>{{ chapter.title }}</p>
				</a>
			</div>
		</li>
		{% else %}
			<li class="p-3 h-30 w-60">
				<p>No Chapters Yet!</p>
			</li>
		{% endfor %}
	</ul>
</div>
