{% macro get_form_values(class_name) %}

<script>
	function get_forms() {
		console.log("get forms");
		var forms = document.getElementsByTagName("form");
		console.log(forms);
		console.log("{{class_name}}")
		// Filter forms by the specified class name
		var filteredForms = Array.from(forms).filter(form => form.classList.contains("{{class_name}}"));
		console.log(filteredForms)
		// Function to get key-value pairs from a form
		function getFormData(form) {
			var inputs = form.getElementsByTagName("input");
			var formData = {};
			for (var i = 0; i < inputs.length; i++) {
				formData[inputs[i].name] = inputs[i].value;
			}
			return formData;
		}

		// Get key-value pairs for each filtered form
		var allFormData = filteredForms.map(form => getFormData(form));
		return allFormData;
	}
</script>

{% endmacro %}